nav {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(75, 0, 130, 0.8); /* Цвет индиго */
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.burger-menu:hover {
    background-color: rgba(75, 0, 130, 1); /* Цвет индиго */
}

#nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60px;
    right: 0;
}

#nav-list.hidden {
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a, nav ul li button {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(75, 0, 130, 0.8); /* Цвет индиго */
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: rgba(75, 0, 130, 1); /* Цвет индиго */
}

.menu-icon i {
    font-size: 24px;
}






