/* Основные стили для мобильных устройств */
@media (max-width: 600px) {
    #nav-list {
        top: 70px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .card {
        margin: 0 auto;
        width: 90%;
    }
}

/* Стили для планшетов */
@media (min-width: 601px) and (max-width: 1024px) {
    #nav-list {
        top: 70px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 90%;
    }
}

/* Стили для десктопов */
@media (min-width: 1025px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .card {
        width: 100%;
    }
}


